version: "3.8"

services:
  funxapp:
    build: .
    container_name: funxapp
    hostname: funxapp.local
    ports:
      - "9000:9000"
    environment:
      MIX_ENV: dev
    command: ["sh", "-c", "elixir --name funx@funxapp.local --cookie secret-cookie --erl '-kernel inet_dist_listen_min 9000 inet_dist_listen_max 9000' -S mix run --no-halt"]
    volumes:
      - .:/app
    restart: unless-stopped

  livebook:
    image: ghcr.io/livebook-dev/livebook:0.17.1
    container_name: adv-fp-livebook
    depends_on:
      - funxapp
    ports:
      - "8090:8080"
      - "8091:8081"
    environment:
      LIVEBOOK_TOKEN_ENABLED: "false"
      LIVEBOOK_DEFAULT_RUNTIME: "attached:funx@funxapp.local:secret-cookie"
    volumes:
      - livebook_data:/data
      - ./chapters:/data/chapters:ro
    restart: unless-stopped

volumes:
  livebook_data:
