version: "3.8"

services:
  livebook:
    image: ghcr.io/livebook-dev/livebook:0.17.1
    container_name: adv-fp-livebook
    ports:
      - "8090:8080"
      - "8091:8081"
    environment:
      LIVEBOOK_MULTI_USER: "true"
      LIVEBOOK_PASSWORD: "funpark_12char"
      LIVEBOOK_DEFAULT_DIR: "/data/chapters"
      LIVEBOOK_HOME: "/data"
    volumes:
      - ./chapters:/data/chapters:ro
    restart: unless-stopped
